<h1>Welcome, <%= current_user.email %>!</h1>
<% if current_user.saved_searches.empty? %>
  <h2>You haven't saved any searches.</h2>
    <p>Normally, those would be shown here. You could either <%= link_to "go search permits", searches_path %> or <%= mail_to 'arellano.megan@gmail.com', 'send me an email' %> about what features you'd like to see here.</p>
<% else %>
<h2 class='user-search-header'>Your saved_searches :</h2>
  <table class='table user-search-table'>
    <% current_user.saved_searches.each do |search| %>
    <tr>
      <td><%= link_to 'Results', search.current_url %></td>
      <td>
        <% if search.weekly_email == "no" %>
          <%= link_to 'Sign up for weekly email', user_saved_search_path(current_user, search), method: :patch %>
        <% else %>
          <%= link_to 'Unsubscribe from email', user_saved_search_path(current_user, search), method: :patch %>
        <% end %>
      </td>
      <td>Permits within <%= pluralize(search.distance, 'mile') %> of <%= search.address %> within the last <%= pluralize(search.days, 'day') %></li></td>
      <td><%= link_to 'Delete this search', user_saved_search_path(current_user, search), method: :delete %></td>
    </tr>
    <% end %>
  </table>
<% end %>
