<h1>Approximately <%= number_to_currency(@presenter.value) %> in construction<br>
   was planned within <%= pluralize(@presenter.distance, 'mile') %><br>
    in the past <%= pluralize(@presenter.days, 'day') %></h1>

<% if current_user %>
<%= button_to "Save this search", user_saved_searches_path(current_user, current_url: request.original_url), class: 'btn btn-primary mb-2 center-block' %>
<% end %>

<div class="refine-my-search">
  <h3>Refine your search:</h3>
  <%= form_tag(searches_path, :method => 'get') do %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= label_tag(:search, 'Address:') %>
        <%= text_field_tag :search, params[:search], placeholder: @presenter.address, class: 'form-control' %>
      </div>

      <div class="form-group col-md-3">
        <%= label_tag(:search, 'Miles:') %>
        <%= number_field_tag :distance, params[:distance], in: 0.0..10.0, step: 0.5, class: 'form-control' %>
      </div>

      <div class="form-group col-md-3">
        <%= label_tag(:search, 'Days:') %>
        <%= number_field_tag :days, params[:days], in: 1..365, step: 1, class: 'form-control' %>
      </div>
    </div>

    <%= submit_tag 'Search again', :name => nil, class: 'center-block btn btn-default mb-2' %>
    <%= submit_tag 'Show me a map instead', :name => nil, class: 'center-block btn btn-default mb-2', formaction: maps_path %>
  <% end %>
</div>


<table class="table search-result-table">
  <tr>
    <th>Date Issued</th>
    <th>Address</th>
    <th>Building Class</th>
    <th>Estimated Value</th>
    <th>Owner Name</th>
    <th>Contractor Name</th>
    <th>Permit Type</th>
  </tr>
  <% @presenter.search_results.each do |permit| %>
  <tr class="building_permit">
    <td><%= permit.date_issued %></td>
    <td><%= permit.address %></td>
    <td><%= permit.building_class %></td>
    <td><%= number_to_currency(permit.valuation) %></td>
    <td><%= permit.owner_name %></td>
    <td><%= permit.contractor_name %></td>
    <td><%= permit.permit_type.name %></td>
  </tr>
  <% end %>
</table>

  <%= paginate @search %>
