<h1>Approximately <%= number_to_currency(@value) %> in construction<br>
   was planned within <%= pluralize(@distance, 'mile') %><br>
    in the past <%= pluralize(@days, 'day') %></h1>

<table class="table search-result-table">
  <tr>
    <th>Date Issued</th>
    <th>Address</th>
    <th>Building Class</th>
    <th>Estimated Value</th>
    <th>Owner Name</th>
    <th>Contractor Name</th>
    <th>Permit Type</th>
  </tr>
  <% @search.each do |permit| %>
  <tr class="building_permit">
    <td><%= permit.date_issued %></td>
    <td><%= permit.address %></td>
    <td><%= permit.building_class %></td>
    <td><%= number_to_currency(permit.valuation) %></td>
    <td><%= permit.owner_name %></td>
    <td><%= permit.contractor_name %></td>
    <td><%= permit.permit_type.name %></td>
  </tr>
  <% end %>
</table>
