<h1>Approximately <%= number_to_currency(@value) %> in construction<br>
   was planned within <%= pluralize(@distance, 'mile') %><br>
    in the past <%= pluralize(@days, 'day') %></h1>

<h3>Refine your search:</h3>
  <%= form_tag(searches_path, :method => 'get') do %>
      <%= text_field_tag :search, params[:search], placeholder: @address %>
      <%= number_field_tag :distance, params[:distance], in: 0.0..10.0, step: 0.5 %>
      <%= number_field_tag :days, params[:days], in: 1..365, step: 1 %>

      <%= check_box_tag(:permit_type, params[:permit_type]) %>
      <%= label_tag(:permit_type, 'Single family, detached') %>
      <%= check_box_tag(:permit_type, params[:permit_type]) %>
      <%= label_tag(:permit_type, 'Commercial') %>
      <%= submit_tag 'Search again', :name => nil %>
  <% end %>

<table class="table search-result-table">
  <tr>
    <th>Date Issued</th>
    <th>Address</th>
    <th>Building Class</th>
    <th>Estimated Value</th>
    <th>Owner Name</th>
    <th>Contractor Name</th>
    <th>Permit Type</th>
  </tr>
  <% @search.each do |permit| %>
  <tr class="building_permit">
    <td><%= permit.date_issued %></td>
    <td><%= permit.address %></td>
    <td><%= permit.building_class %></td>
    <td><%= number_to_currency(permit.valuation) %></td>
    <td><%= permit.owner_name %></td>
    <td><%= permit.contractor_name %></td>
    <td><%= permit.permit_type.name %></td>
  </tr>
  <% end %>
</table>
