<h1>Here's the new construction permits issued in the past week:</h1>

<table>
  <tr>
    <th>Date Issued</th>
    <th>Address</th>
    <th>Building Class</th>
    <th>Estimated Value</th>
    <th>Owner Name</th>
    <th>Contractor Name</th>
    <th>Permit Type</th>
  </tr>
<% @new_results.each do |permit| %>
  <tr class="building_permit">
    <td><%= permit.date_issued %></td>
    <td><%= permit.address %></td>
    <td><%= permit.building_class %></td>
    <td><%= number_to_currency(permit.valuation) %></td>
    <td><%= permit.owner_name %></td>
    <td><%= permit.contractor_name %></td>
    <td><%= permit.permit_type.name %></td>
  </tr>
<% end %>
