<!DOCTYPE html>
<html>
  <head>
    <title>HelloBlock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=#{ENV[GOOGLE_PLACES]}&libraries=places"></script>
  </head>

  <body>
    <%= render 'partials/navigation' %>
    <div class='container'>
      <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
      <% flash.each do |message_type, message| %>
        <% if message_type == "success" %>
          <div class="success"><%= sanitize(message) %></div>
        <% else %>
          <div class="danger"><%= message %></div>
        <% end %>
      <% end %>
      </div>
    <%= yield %>
    <%= render 'partials/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
