<!DOCTYPE html>
<html>
  <head>
    <title>HelloBlock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'partials/navigation' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
